body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.bg {
    background: #fbfbfb;
}
.br6 {
    img {
        border-radius: 6px 6px 0 0;
    }
}
.br {
    img {

        border-radius: 6px;
    }
}
.cursor {
    cursor: pointer;
}
.img {
    object-fit: cover;
    width: 100%;
    max-height: 500px;
}
.cover {
    object-fit: cover;
    width: 100%;
}
.rounded {
    border-radius: 50%;

}
