body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.bg {
    background: #fbfbfb;
}
.bg2 {
    background: hsla(131, 100%, 29%, 1);

    background: linear-gradient(180deg, hsla(131, 100%, 29%, 1) 0%, hsla(131, 89%, 32%, 1) 39%, hsla(132, 41%, 75%, 1) 72%, hsla(0, 0%, 100%, 1) 100%);


}
.br6 {
    img {
        border-radius: 6px 6px 0 0;
    }
}
.br {
    img {

        border-radius: 6px;
    }
}
.cursor {
    cursor: pointer;
}
.img {
    object-fit: cover;
    width: 100%;
    max-height: 500px;
}
.cover {
    object-fit: cover;
    width: 100%;
}
.logo {
 color: #00951c;
 text-decoration: none;
}
.rounded {
    border-radius: 50%;

}
.sk {
    background: #e6e6e6;
    animation: gradient 1s ease infinite;
}

@keyframes gradient {
    0% {
        background : #e6e6e6
    }
    50% {
       background : #dbdbdb

    }
    100% {
        background : #e6e6e6

    }
}